<div ng-hide="1">{{SharedFactory.crrentTabIndex}}</div> 

<h2 ng-hide="1">Units</h2>

<div flex layout-fill>
    <form name="FormUnits" class="form-inline" ng-submit="showCase.addunit()">
		<div layout="row" layout-sm="column" layout-align="space-between" >
			<md-input-container>
				<label>Unit Code</label>
				<input ng-model="showCase.unit2Add.code" name="code" required>
			</md-input-container>
            <md-input-container>
				<label>Unit Name</label>
				<input ng-model="showCase.unit2Add.name" name="name" required>
			</md-input-container>
            <md-input-container>
				<label>Unit Station</label>
				<input ng-model="showCase.unit2Add.station" name="station" required>
			</md-input-container>
            <md-input-container>
				<md-button type="submit" class="md-raised md-primary" ng-disabled="FormUnits.$invalid" aria-label="Add Item">
         			<md-icon md-svg-src="assets/svg/ic_add_circle_outline_white_48px.svg" style="color: white;"></md-icon> Add
        		</md-button>
			</md-input-container>
            
		</div>
        <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Name</th>
                <th>Station</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="unit in showCase.units">
                <td>{{ $index+1 }}</td>
                <td>{{ unit.code }}</td>
                <td>{{ unit.name }}</td>
                <td>{{ unit.station }}</td>
                <td>
                    <button type="button" ng-click="showCase.toggleRight($index,unit)" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i></button>
                    <button type="button" ng-click="showCase.removeunit($index,unit)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>